.card {
    background: #1C1C21;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.04), 0 0 2px rgba(0, 0, 0, 0.06), 0 0 1px rgba(0, 0, 0, 0.04);
    border-radius: 40px;
}

.cardInfo {
    display: flex;
    justify-content: space-between;
}
.ingredientsWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ingredientsInfoWrapper {
    display: flex;
    align-items: center;
    gap: 8px;
}

.ingredientsImageRowContainer {
    display: flex;
    flex-direction: row-reverse;
    margin-left: 16px;
    position: relative;
}

.ingredientTransformImageWrapper {
    margin-left: -16px;
}

.ingredientImageWrapper {
    width: 64px;
    height: 64px;
    background: linear-gradient(63.18deg, #801AB3 0%, #4C4CFF 100%);
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.ingredientImageFirstCounter {
    opacity: 0.6;
    background-color: #131316;
}

.ingredientImage {
    width: 60px;
    height: 60px;
    background: #131316;
    border-radius: 100px;
    object-fit: cover;
}

.ingredientsLeftCounter {
    width: 64px;
    height: 64px;
    text-align: center;
    position: absolute;
    top: 20px;
}

.statusDone {
    color: #00CCCC;
}
