.section {
    width: 600px;
    flex-grow: 1;
}
.menuContainer {
    max-height: calc(100vh - 495px);
    overflow: hidden;
    overflow-y: scroll;
}

.menuContainer::-webkit-scrollbar {
    width: 8px;
    background-color: #2F2F37;
}
.menuContainer::-webkit-scrollbar-thumb{
    background: #8585AD;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.itemCardContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.itemCard {
    background: #1C1C21;
    flex-grow: 1;
    border-radius: 40px;
}

.itemCardBunUp {
    border-radius: 88px 88px 40px 40px;
}

.itemCardBunDown {
    border-radius: 40px 40px 88px 88px;
}

.itemCardCaption {
    flex-grow: 1;
}

.itemCardImage {
    width: 80px;
    height: 40px;
}

.itemCardImageBottom {
    transform: rotate(180deg);
}

.itemCardP {
    display: flex;
}

.finalContainer {
    float: right;
}
