.modal {
    width: 720px;
    margin: 0 auto;
    position: absolute;
    float: left;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    background-color: #1C1C21;
    border: 1px solid rgba(76, 76, 255, 0.2);
    box-sizing: border-box;
    box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 40px;
}

.modalHeader {
    min-height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modalCenter {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.modalCenterOrderInfo {
    margin: 0 auto;
    width: 640px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.modalCloseIconAlign {
    justify-content: flex-end;
}
