.section {
    max-width: 600px;
}

.menuContainer {
    /** TODO: понять, как верно расчитать высоту */
    max-height: calc(100vh - 320px);
    overflow: hidden;
    overflow-y: scroll;
}

.menuContainer::-webkit-scrollbar {
    width: 8px;
    background-color: #2F2F37;
}
.menuContainer::-webkit-scrollbar-thumb{
    background: #8585AD;
}


.ingredientsSectionWrapper {
    display: grid;
    grid-template-columns: 272px 272px;
    grid-column-gap: 24px;
    grid-row-gap: 32px;
}

.ingredientsSectionCaption {
    margin: 0;
}

.ingredientsSectionP {
    margin: 0;
    text-align: center;
}

.ingredientsSectionImage {
    display: flex;
    align-items: center;
    justify-content: center;
}
