.appHeaderWrapper {
    background: #1C1C21;
    height: 88px;
}

.appHeaderNavigation {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: 1240px;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.li {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo {
    margin-right: auto;
    margin-left: auto;
}

.ulLeft {
    position: absolute;
    left: -20px;
}
.ulRight {
    position: absolute;
    right: -20px;
}

.active {
    color: #F2F2F3;
}
